@import '../styles/modules/breakpoints';
@import '../styles/modules/mixins';
@import '../styles/modules/variables';

.about {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  transition: 0.5s ease-in-out;
  transform: translateX(100%);

  button {
    @include btn-default;
    fill: #FFFFFF;
    position: absolute;
    top: 0.5rem;
    right: 0;

    &:hover svg {
      fill: $patone-orange;
    }
  }

  div {
    color: #FFFFFF;
    padding: 2rem 0.5rem;
  }

  h1 {
    margin-bottom: 0;
  }

  p {
    width: 100%;
  }

  @include respond-to('medium') {
    button {
      right: 0.5rem;
    }
    p {
      width: 50%;
    }
  }
}
