<section local-class="about" class="flex-center-center vh-100 w-100 {{if this.aboutToggle.show "x-show"}} z-99">
  <button type="button" class="z-99" aria-label="Close" title="Close" {{on "click" this.aboutToggle.toggle}}>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/></svg>
  </button>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <img class="img-fluid" src="/assets/imgs/avatar.svg"
         alt="Michael" width="512" height="512">
    <h1>Michael Neumann</h1>
    <p>Front-End developer with a touch of server-side flavor and a passion to create simple & elegant solutions. With
      a background in Information Technology, I have continually push myself forward. I got into web
      development shortly after obtaining my bachelor's degree and never looked back. For the last few years, I have
      continued to learn and improve my skills in both web development and design.</p>
  </div>
</section>