@import '../styles/modules/variables';
@import '../styles/modules/breakpoints';
@import '../styles/modules/mixins';

.navbar {
  position: fixed;
  top: 0;
  width: 100%;

  div:first-child {
    background-color: $jet;
    transition: box-shadow 0.15s ease-in-out;

    @include respond-to('medium') {
      padding: 0.5rem 1rem;
    }

    svg {
      fill: #FFFFFF;
      filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.5));
      height: auto;
      transition: fill 0.15s ease-in-out;
      width: 18pt;

      &:hover {
        fill: $patone-orange;
      }
    }

    .navbar__brand {
      padding-left: 0;

      a {
        color: #FFFFFF;
        font-family: "Avenir Next DemiBold", "Helvetica Neue", Arial, sans-serif;

        svg {
          margin-right: 0.25rem;
        }

        span {
          font-size: 1.5rem;
          left: 2rem;
          padding-top: 0.15rem;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

          @include respond-to('medium') {
            display: inline-block;
          }
        }
      }
    }

    .navbar__external-nav {

      a {
        svg {
          margin: 0.25rem;
        }
      }

      button {
        @include btn-default;
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0;

        svg {
          margin: 0.25rem;
        }
      }

      span {
        cursor: pointer;
        font-size: 0.75rem;
        pointer-events: none;
        overflow: hidden;
        transition: width 1s ease-in-out;
        top: 4px;
        right: 0.25rem;

        svg {
          height: auto;
          fill: #ffc107;
          width: 10pt;
        }
      }
    }

    .navbar__about {
      button {
        @include btn-default;
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0;
      }
    }
  }
}
