.flex-center-center {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text-white {
  color: #FFFFFF;
}

.text-decor-none {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.img-fluid {
  height: auto;
  max-width: 100%;
}

.has-shadow {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

.has-shadow-lg {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
}

.y-show {
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
}

.x-show {
  -webkit-transform: translateX(0) !important;
  transform: translateX(0) !important;
}

.no-scroll {
  overflow: hidden !important;
}

.bg {
  background-color: #000000;
  background-image: radial-gradient(circle 100vh at 50% 0, hsla(248, 84%, 17%, 1), #000000);
  background-size: cover;
  background-repeat: no-repeat;
}

.shift {
  transform: translateY(139px) !important;
}
